<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Renda</span>
    </mat-toolbar-row>
</mat-toolbar>
<div>
    <mat-card>
        <div fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" fxLayoutAlign="space-between stretch">
                <app-categorie fxFlex="100%" fxFlex.gt-sm="45%"></app-categorie>
                <app-record fxFlex="90%" fxFlex.gt-sm="55%"></app-record>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between stretch">
                <app-chart fxFlex></app-chart>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between stretch">
                <app-goal fxFlex></app-goal>
            </div>
        </div>
    </mat-card>
</div>
