<mat-card fxFlex>
    <mat-card-title>
        Records
    </mat-card-title>

    <mat-card-content>
        <form [formGroup]="recordForm" fxLayout="column" (ngSubmit)="save()" fxLayout="column"
            fxLayoutAlign="space-between" #form="ngForm">
            <input type="hidden" formControlName="_id">

            <mat-form-field>
                <input matInput placeholder="Record Name" formControlName="name">
                <mat-error *ngIf="recordForm.controls.name.errors?.required">Coloque uma Categoria Please</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Value" type="number" formControlName="value">
                <mat-error *ngIf="recordForm.controls.value.errors?.required">Coloque uma Categoria Please</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Type</mat-label>
                <mat-select [(value)]="selected" formControlName="type">
                    <mat-option value="renda">Renda</mat-option>
                    <mat-option value="despesa">Despesa</mat-option>
                </mat-select>
                <mat-error *ngIf="recordForm.controls.type.errors?.required">Coloque uma Categoria Please</mat-error>
            </mat-form-field>

            <form formGroupName="charge">
                <mat-form-field>
                    <mat-label>Type Charge</mat-label>
                    <mat-select [(value)]="charge" (selectionChange)="onChange($event)" formControlName="typeCharge">
                        <mat-option value="unic">Unica</mat-option>
                        <mat-option value="fix">Fixa</mat-option>
                        <mat-option value="parcels">Parcelada</mat-option>

                    </mat-select>
                    <mat-error *ngIf="recordForm.controls.charge.controls.typeCharge.errors?.required">Coloque uma
                        Categoria Please</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Parcels" type="number" formControlName="parcels" [value]=''>
                    <mat-error *ngIf="recordForm.controls.charge.controls.parcels.errors?.required">Coloque uma
                        Categoria Please</mat-error>
                </mat-form-field>
            </form>

            <mat-form-field>
                <mat-label>Starting month</mat-label>
                <mat-select [(value)]="month" formControlName="month">
                    <mat-option *ngFor="let mon of months" [value]="mon">{{mon}}</mat-option>
                </mat-select>
                <mat-error *ngIf="recordForm.controls.month.errors?.required">Coloque uma Categoria Please</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Categories</mat-label>
                <mat-select formControlName="categorie">
                    <mat-option *ngFor="let c of categories" [value]="c">
                        {{c.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="recordForm.controls.categorie.errors?.required">Coloque uma Categoria Please
                </mat-error>
            </mat-form-field>

            <div fxLayout="row" fxLayoutAlign="end end">
                <button mat-button color="primary" fxFlex="10" type="submit">Save</button>
                <button mat-button color="warn" fxFlex="10" type="reset">Cancel</button>
            </div>
        </form>


        <ng-container *ngIf="records?.length>0; else empty">
            <mat-list>
                <h3 mat-subheader>Records</h3>
                <mat-list-item *ngFor="let rec of records">
                    <mat-icon mat-list-icon>folder</mat-icon>
                    <h4 mat-line>{{ rec.name }} - <small>Starting Month {{rec.month}}</small></h4>
                    <h3 mat-line>Value: {{ rec.value | currency:"R$ " }} - Type: {{ rec.type }}</h3>
                    <h3 mat-line>Charge: {{ rec.charge?.typeCharge }} - Parcels: {{ rec.charge?.parcels }}</h3>
                    <mat-chip-list mat-line>
                        <mat-chip>{{rec.categorie?.name}}</mat-chip>
                    </mat-chip-list>
                    <button mat-icon-button color="accent" (click)="delete(rec)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="edit(rec)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </mat-list-item>
            </mat-list>
        </ng-container>
        <ng-template #empty>
            <div><em>Empty</em></div>
        </ng-template>

    </mat-card-content>
</mat-card>